{% extends "post.html" %}

{% block post %}


<style>
	
	
	td {padding-right: 20px}
	
	path:hover {opacity: 0.7}
	path {stroke-width: 0.1; stroke: black}
	
	div.tooltip {	
    position: absolute;
	font-size: 150%;
    text-align: left;							
    padding: 8px;				
    font: 12px sans-serif;		
    background: #F4F6F7;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
	font-family: Helvetica;
	}
	
	h2 {align: center}
	
		
	.x_axis {font-size: 10pt}
	.y_axis {font-size: 11pt}
	rect {fill: lightblue}
	rect:hover {fill: steelblue}

</style>

<script>
<!-- functions for updating viz -->
<!-- fill contents of tooltip -->
var add_table = function(d2, yr){
		
		var theTable = document.getElementById("theTable");
		
		<!-- place NTA name in heading -->
		var theTitle = document.getElementById("heading");
		
		var heading = document.createTextNode(d2.properties.ntaname);
		theTitle.appendChild(heading);
		<!-- create top subjects table -->
		if (typeof(d2.properties.ArticleData[yr]) == "undefined"){
			<!-- if no articles, append text node -->
			var temp = document.createTextNode("No Articles.");
			theTable.appendChild(temp)
			
		} else { 
		
			var theTotal = document.getElementById("total_articles");
			var totals = document.createTextNode("Total Articles: " + d2.properties.ArticleData[yr].Total)
			theTotal.append(totals);
			<!-- if there are articles, create table of appropriate length -->
			L = d2.properties.ArticleData[yr].TopSubjects.length;
			if (L > 5){L = 5};
			for (i = 0; i < L; i++){
				var new_row = theTable.insertRow(0);
				
				var cell1 = new_row.insertCell(0);
				var cell2 = new_row.insertCell(1);
				
				var temp = document.createTextNode(d2.properties.ArticleData[yr].TopSubjects[L - i - 1][0]);
				var temp2 = document.createTextNode(d2.properties.ArticleData[yr].TopSubjects[L - i - 1][1]);
				
				cell1.appendChild(temp);
				cell2.appendChild(temp2);
			}			
		}
}

<!-- get value from range slider and update value of init_year -->
var updateYear = function(){
	init_year = parseInt(document.getElementById("range_slider").value)
}

<!-- update slider value -->
function updateSlider(val){
		d3.select("#label_value").text(val);
		/. update_map(val); ./
}
	
<!-- update map and bars -->
function update_map(map_data, chart_data, yr){
	update_bars(chart_data, yr);
	map_data.forEach( function(d) {

		if (typeof(d.properties.ArticleData[yr]) != "undefined"){
			d3.select("#"+d.properties.ntacode)
				.transition()
				.delay(50)
				.attr("fill", color_scale(d.properties.ArticleData[yr].Total));
		} else {
			d3.select("#"+d.properties.ntacode)
				.transition()
				.delay(50)
				.attr("fill", color_scale(0));
		}
	})
}



<!-- update bar -->
function update_bars(data, yr){
	x.domain([0, compute_max(data, yr)]);
	y.domain(get_subjects(data,yr))
	
	xAxis.scale(x);
	yAxis.scale(y);
	
	chart.select(".x_axis").transition().delay(50).call(xAxis);
	chart.select(".y_axis").transition().delay(50).call(yAxis);
	
	data[yr].forEach( function(d, i){	
	d3.select("#_"+i).transition().delay(50).attr("width", x(d['articles']));
	});
}
<!--    helper functions    -->
<!-- get subjects as list -->
function get_subjects(data,yr){
	subs = [];
	for (i = 0; i < data[yr].length; i++){
		subs.push(data[yr][i]['subject']);
	}
	return subs;
}

function compute_max(data, yr){
	temp = [];
	for (i = 0; i < data[yr].length; i++){
		temp.push(data[yr][i]['articles']);
	}
	return Math.max.apply(Math, temp)
}

function function_compute_max(data){
	var range = keys(data);
	var temp = [];
	for (i = 0; i < range.length; i++){
		var k = range[i];
		temp2 = [];
		for (j = 0; j < data[k].length; j++){
			temp2.push(data[k][j]['articles']);
		}
		temp[i] = Math.max.apply(Math, temp2);		
	}
	return Math.max.apply(Math, temp);
}


</script>
</head>

<body>
 
<p>
	We scraped 18 years of data from the New York Times by searching for the names of each neighborhoods and restricting the search to New York City
	using the <a href="https://developer.nytimes.com/docs/articlesearch-product/1/overview" target="_blank" rel="noopener">article search API</a>. 
	Below is an interactive map of New York City's neighborhoods, showing the number of articles for found that matched a search for the name 
	of that neighborhood along with the top five subjects for that year. Also shown are the top ten subjects for that year across all articles 
	that matched a neighborhood name. 
</p>

 <p style = "text-align:center">
	<label for = "range_slider">
	<span id = "label_value">2018</span>
	</label>
	<input style = "width: 400px" type = "range" min = "2000" max = "2018" value = "2018" id = "range_slider"/>
 </p>
 
 
<script type = "text/javascript">

var init_year = 2018;
var width = 1300;
var height = 1000;	
var max_value = 1500;


<!-- create svg -->
var canvas = d3.select("body")
	.append("svg")
	.attr("class","canvas")
	.attr("width", width)
	.attr("height", height);

<!-- create map container -->
var map = d3.select(".canvas")
			.append("g")
			.attr("id", "map");
			
<!-- create tooltip container -->
var div = d3.select("body").append("div")	
    .attr("class", "tooltip")				
    .style("opacity", 0);

<!-- create color scale for map -->
var color_scale = d3.scaleSequential(d3.interpolateBlues).domain([0, max_value])

<!--  create map -->
d3.json("/static/blog/post_4/NTA_time.geojson", function(data) {

	the_data = data;
	
	/. autoscaling ./ 
	var center = d3.geoCentroid(data);
	var scale = 150;
	var offset = [width/2, height/2];
	var projection = d3.geoMercator().scale(scale).center(center);
	var path = d3.geoPath().projection(projection);
	var bounds = path.bounds(data);
	var hscale = scale*width/ ( bounds[1][0] - bounds[0][0]);
	var vscale = scale*height/(bounds[1][1] - bounds[0][1]);
	var scale = (hscale < vscale) ? hscale:vscale;
	var offset = [width - (bounds[0][0] + bounds[1][0])/2   , height - (bounds[0][1] + bounds[1][1])/2 - 300];
	
	/. map ./
	var projection = d3.geoMercator().center(center).scale(scale*0.85).translate(offset);
	var path = path.projection(projection);
	
	var group = map.selectAll("g")
		.data(data.features)
		.enter()
		.append("g")
		.attr("id", function(d){
			return "group_" + d.properties.ntacode;
		});
		
	
	/. create map sections ./
	var areas = group.append("path")
		.attr("d",path)
		.attr("id", function(d) {
			return d.properties.ntacode;
		})
		.attr("class","area")
		.attr("fill", function(d) {
			/. set colors ./
			if (typeof(d.properties.ArticleData[init_year]) == "undefined"){
				var temp = 0;
			} else {
				var temp = d.properties.ArticleData[init_year].Total;
			}
			return color_scale(temp)
		})
		.on("mouseover", function(d) {
			/. add tooltip ./
			div.transition().duration(600).style("opacity", 0.8);
			div.attr("id", "tooltip")
			div.html(
			"<p id = 'heading' style = 'font-size: 125%; font-weight: bold'> </p>" + 
			"<p id = 'total_articles' style = 'font-size: 125%' > </p>" + 
			"<hr>" + 
			"<table style = 'font-size: 125%' id = 'theTable'> </table>")
				.style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY ) + "px")
				.attr("id", "tooltip");
			/. add table ./
			add_table(d, init_year);
		})
		.on("mouseout", function(d) {
			div.transition().duration(300).style("opacity", 0);
		});	
});
	
	d3.select("#range_slider").on("input", function(){
		/. updates year variable, changes tooltip ./
		year = +this.value;
		updateYear()
		updateSlider(+this.value);
		update_map(the_data.features,the_data2, +this.value);
	})
	

	<!--  bar chart  -->

	
	<!-- set chart dimensions and margins -->
	var margins = {top: 30, right: 20, bottom: 30, left: 275};
	var width_bar = 700 - margins.right - margins.left;
	var height_bar = 300 - margins.top - margins.bottom;
	
	<!-- create chart container -->
	var chart = canvas.append("g")
		.attr("id", "chart")
		.attr("transform", "translate(" + margins.left + "," + margins.top + ")");
	
	<!-- add title to bar chart -->
	chart.append("text")
		.attr("x", width_bar/2 - 50)
		.attr("y", -8)
		.text("Top 10 Subjects")
		.style("font-size", 20);
	
	<!-- create x and y scales -->
	var x = d3.scaleLinear()
		.range([0,width_bar]);
	var y = d3.scaleBand()
		.rangeRound([0, height_bar]);
	<!-- create x and y axis -->
	var xAxis = d3.axisBottom().scale(x);
	var yAxis = d3.axisLeft().scale(y);
<!-- create bar chart -->

d3.json("/static/blog/post_4/topten.json", function(data){
	
	the_data2 = data;
	
	barHeight = height_bar/10 - 2;
	console.log(init_year)
	x.domain([0, compute_max(data, init_year)]);
	y.domain(get_subjects(data, init_year));
	
	chart.append("g")
		.attr("class", "x_axis")
		.attr("transform", "translate(0," + height_bar +")")
		.call(xAxis);
	
	chart.append("g")
			.attr("class", "y_axis")
			.call(yAxis);

	
	var bar = chart.selectAll(".bar")
				.data(data[init_year])
				.enter()
				.append("rect")
				.attr("y", function(d){ return y(d['subject'])})
				.attr("width", function(d) {return x(d['articles'])})
				.attr("height", barHeight)
				.attr("id", function(d,i){ return "_"+i; } );
});


</script>

{% endblock %}