{% extends "post.html" %}

{% block post %}


<style>
	
	/* body {font-family: helvetica} */

	rect {fill: steelblue}

	td {padding-right: 20px}
	
	path:hover {opacity: 0.7}
	path {stroke-width: 0.1; stroke: black}
	
	div.tooltip {	
    position: absolute;
	font-size: 150%;
    text-align: left;							
    padding: 8px;				
    font: 12px sans-serif;		
    background: #F4F6F7;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;	}
	
	h2 {align: center;}



	circle:hover {opacity: 0.9}


	.legend { font-family: helvetica}
		

</style>

<p>
	In recent years, the topics of income inequality and housing affordability have become increasingly prevalent in public discourse. 
	As rents rise in coastal cities such as San Francisco, Seattle and New York, many residents find themselves priced-out 
	of their old neighborhoods while a class of white collar professionals attracted to the urban lifestyle and opportunities 
	to work in fields such as law, finance and tech, move in. 
</p>

<p>
	In this blog post, we explore how the New York Times covers the topic of gentrification in New York City and attempt to 
	quantify how well the Times’ covers gentrification in different neighborhoods that have seen large increases in rents and 
	incomes over the last decade and a half. To do this, we use economic and demographic data from 
	<a href="http://furmancenter.org/" target="_blank" rel="noopener">NYU’s Furman Center</a> and news 
	article data scraped from the <a href="NYT’s Article API" target="_blank" rel="noopener">NYT’s Article API</a>. 
</p>

<!-- <a href="http://furmancenter.org/files/sotc/Part_1_Gentrification_SOCin2015_9JUNE2016.pdf" target="_blank" rel="noopener">Furman Center's 2016 report on gentrification.</a>
<a href="http://furmancenter.org/files/sotc/Part_1_Gentrification_SOCin2015_9JUNE2016.pdf" target="_blank" rel="noopener">Furman Center's 2016 report on gentrification.</a> -->


<h2> Exploring Gentrification </h2>

<p>We selected a subset of the demographic and economic data for 59 of New York City’s neighborhoods from the Furman Center’s database to include in our analysis. The variables we looked at were: </p>





<ul>
	<li>the percent change in median rent between 2000 and 2016 (pct_rent_change)</li>
	<li>the percent change in median income between 2000 and 2016 (pct_income_change)</li>
	<li>the percentage point change in the Asian population (pct_asian_change)</li>
	<li>the percentage point change in the White population (pct_white_change)</li>
	<li>the percentage point change in the Black population (pct_black_change)</li>
	<li>the percentage point change in the Hispanic population (pct_hisp_change)</li>
	<li>the percentage point change in people holding at least a bachelor’s degree (pct_degree_change) </li>

</ul>

<p>
	We then examined the correlations between all these variables, the results of which can been seen below. 
	The correlations are visualized as ovals, whose direction and color indicate whether two variables are 
	positively (blue and upward sloping) or negatively (red and downward sloping) correlated. 
	The intensity of the color and the shape of the oval indicates the strength of the correlation. 
</p>

<div class="text-center">
	<img class="img-fluid" src="/static/blog/post_2/corrplot.png" alt="">
</div>

<p>There are several patterns that are immediately seen from the correlations. The first is that the percentage change in rents and incomes, 
	the change in the share of the White population and the population holding a college degree are all positively correlated with each other. 
	We can call these group of variables “gentrification variables.”
</p>

<p>These “gentrification variables” variables are all negatively correlated with the change in the share of the population of other racial groups.</p>

<p>
	Next we perform what is called a “factor analysis” on the data. The idea behind factor analysis is that a large number of correlated variables may actually 
	represent a smaller number of underlying phenomena that are captured by “hidden” or “latent” variables called “factors”. 
	The extent that a factor relates to a variable is quantified by a “factor loading” whose magnitude determine the strength of the relationship and whose sign determines its direction.
</p>

<p>
	We are able to find three distinct factors underlying our data, which can be seen in the figure below. 
	The as with the correlation plot, the color of the bars represents the direction of the relationship between a factor and a variable and the heights represent its strength. 
</p>

<div class="text-center">
	<img class="img-fluid" src="/static/blog/post_2/factor_analysis.png" alt="">
</div>


<p>The first factor represents the “gentrification variables” seen earlier, which are strongly and positively related with this factor. 
	We therefore call this factor the “gentrification” factor. Note also that change in the Hispanic population is strongly and negatively related to this factor. 
</p>

<p>
	The other factors relate to changes Black and Asian population. The second factor is negatively related to the change in the Black 
	population while positively related with the increase in the White population – the share of the White population increases as 
	the share of the Black population decreases. We call this factor the “Black displacement” factor.
</p>

<p>
	The third factor is related to changes in the share of Asians in a neighborhood. The factor is strongly related to the change in the Asian
	population and weakly related in the opposite direction to the change in the White population. 
	The interpretation is the same as the correlations we saw earlier: the change in each respective population move in opposite directions. 
	In light of the “gentrification” factor, we concluded a similar displacement effect was at work here, albeit much weaker that in the case of the Black displacement. 
</p>


<h2> The Times' Coverage of Gentrification </h2>

<p>
	The New York Times has an extensive metadata tagging system that allows users to search and filter by subject tags. 
	We collected news article data about gentrification by searching for the names of neighborhoods in news articles and
	filtered our search by restricting the location to New York City and the subject to “gentrification”. 
	We believe using the subject tags is a better approach than searching the body of the text for the work “gentrification” be 
	the use of the tag reflects what the editor believes the article is about. 
</p>


<p>
	The result was a total of 69 articles mentioning the different neighborhoods we searched for 410 times 
	(the same article can mention several neighborhoods) between 2008 and 2018. 
	The results are aggregated by community district, since that is the smallest administrative unit the Furman Center provides data for. 
	The distribution of those articles over the years can be seen below. Gentrification coverage peaks in 2016 before sharply falling.
</p>

<div class="text-center">
	<svg class ="bar_chart"></svg>
</div>

<p>
	We wanted to know if the Times’ coverage was matched the data from the Furman Center. Did the Times provide more coverage to neighborhoods 
	experiencing more gentrification? We performed a simple linear regression on the “gentrification variable” most correlated with the number 
	of articles a neighborhood was mentioned in, which was the percent change in in median income. 
</p>

<p>
	The results were a significant, positive correlation between the amount of gentrification coverage a neighborhood received and the increase in median income it experienced. 
	The interactive chart below shows the scatter plot for the neighborhoods colored by borough. 
</p>

<div class="text-center">
		<svg class ="scatter_chart"></svg>
</div>

<p>
	However, there are some outliers. Neighborhoods such as Brooklyn Heights, Williamsburg, Bed Stuy and Flushing get more coverage than would be predicted and others 
	such as Central Harlem get fewer. To this end, we have created an “inequality index” that captures the difference between the actual and expected number of 
	gentrification coverage based the change in income. Any value greater than 2 or less than -2 is considered to have either “too much” or “too little” 
	coverage based on the income changes.
</p>


<div class="text-center">
		<img class="img-fluid" src="/static/blog/post_2/inequality_score.png" alt="">
</div>

<p>We can also view the geographic distribution of gentrification coverage and compare it the neighborhoods 
	the Furman Center considers to be gentrifying, according to their <a href="http://furmancenter.org/files/sotc/Part_1_Gentrification_SOCin2015_9JUNE2016.pdf" target="_blank" rel="noopener">2016 study on the subject</a>. 
	The interactive map below allows you to toggle between the NYT’s coverage and the Furman Center’s determination.
</p>

<p>From the map, we an see that neighborhoods in Brooklyn are receiving the most intense gentrification coverage. They also happen to be on the Furman Center’s list of gentrifying neighborhoods, 
	meaning that both the Times’ and the Furman Center agree. The map also shows that there are several neighborhoods in Queens with little Times’ coverage that the 
	Furman Center considers to be gentrifying, indicating a potential gap in the Times’ coverage.
</p>



<!-- <h1 style = "text-align: left"> Gentrification Coverage</h1> -->

<h6 id = "subtitle" style = "text-align: center"> Articles about Gentrification </h6>

 <div class = "flex_container">
	<!-- style = "float: left; position: absolute; z-index:2 -->
	<div id = "formContainer" class = "flex_form">
		<form id = "theForm" action = 'alert()'>
			<select name = "stats" id = "formOptions">
				<option value = 'counts'> Number of Articles </option>
				<option value = 'gent'> Is Gentrifying </option>
			</select>
			<input type = "button" value = "Update" onclick = "updateMap(the_data.features)">
		</form>
	</div>
	<!-- style = "float:left; position:absolute; z-index: 1" -->
	<div id = "imageContainer" class = "flex_map" style = "z-index:2 ">
		<svg class = "canvas"></svg>
	</div>

</div>


<h3>Conclusion</h3>

<p>
	Overall, we concluded the Times’ does a good job covering the geographic distribution of gentrification in the city with some potential gaps in
	Queens and a tendency to focus too heavily on certain neighborhoods. It also seems puzzling that coverage peaked in 2016, 
	yet the problem continues to persistent and is likely to for the foreseeable future. One possibility could be our methodology: 
	the Times’ could still be covering the topic of gentrification, but not explicitly tagging the articles. 
	Another could be that the Times’ has decided to cover other topics. 
</p>

<p>
	Either way, we believe that it important for the Times’ to continue to cover this important topic and should examine 
	how it decides what neighborhoods to cover and consider using data-driven methodologies to help guide these decisions. 
</p>

<script>
var bar_chart_margin = {top:20, right: 30, bottom:20, left:50}, bar_chart_width = 550 - bar_chart_margin.left - bar_chart_margin.right, bar_chart_height = 400 - bar_chart_margin.top - bar_chart_margin.bottom;


var x_bar = d3.scaleBand().rangeRound([0, bar_chart_width]).paddingInner(0.05);
var y_bar = d3.scaleLinear().range([bar_chart_height, 0])

var xAxis_bar = d3.axisBottom(x_bar);
var yAxis_bar = d3.axisLeft(y_bar);


var bar_chart = d3.select(".bar_chart")
	.attr("width", bar_chart_width + bar_chart_margin.left + bar_chart_margin.right)
	.attr("height", bar_chart_height + bar_chart_margin.top + bar_chart_margin.bottom)
	.append("g")
	.attr("class", "container")
	.attr("transform", "translate(" + bar_chart_margin.left + "," + bar_chart_margin.top + ")");
	
d3.csv("/static/blog/post_2/articles_per_year.csv", function(data){

	x_bar.domain(data.map(function(d){return d.date}));
	y_bar.domain([0, 20]);
	
	xAxis_bar.tickValues(data.map(function(d) { return d.date }));
	yAxis_bar.ticks(5,"s");
	
	bar_chart.selectAll(".bar")
		.data(data)
		.enter()
		.append("rect")
		.attr("class","bar")
		.attr("x", function(d) { return x_bar(d.date); })
		.attr("y", function(d) { return y_bar(d.articles);})
		.attr("height", function(d) {return bar_chart_height - y_bar(d.articles);})
		.attr("width", x_bar.bandwidth());	

	bar_chart.append("g")
	.style("font", "15px sans-sarif")
	.attr("class", "yaxis")
	.call(yAxis_bar);
		
	bar_chart.append("g")
	.style("font", "15px sans-sarif")
	.attr("class","xaxis")
	.attr("transform","translate(0," + bar_chart_height + ")")
	.call(xAxis_bar);


	bar_chart.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - ( bar_chart_margin.left))
      .attr("x",0 - bar_chart_height / 2)
      .attr("dy", "1em")
      .style("text-anchor", "middle")
	  .style("font-family", "Lora")
      .text("Articles");  
});

</script>



<script>


var add_table_scatter = function(d2){

	var theTable = document.getElementById("theTable");
	var theTitle = document.getElementById("heading");
	var heading = document.createTextNode(d2.Name);
	theTitle.appendChild(heading);

	var row1 = theTable.insertRow(0)
	var cell1 = row1.insertCell(0)
	var cell2 = row1.insertCell(1)
	var temp1 = document.createTextNode("Articles about Gentrification:")
	cell1.append(temp1)
	var temp2 = document.createTextNode(d2.Articles)
	cell2.append(temp2)


	var row2 = theTable.insertRow(1)
	var cell1 = row2.insertCell(0)
	var cell2 = row2.insertCell(1)
	var temp1 = document.createTextNode("% change in income:")
	var temp2 = document.createTextNode( Math.round(d2.PctIncChg) + "%")
	cell1.append(temp1)
	cell2.append(temp2)

}


var scatter_chart_margin = {top:20, right: 30, bottom:50, left:50}, scatter_chart_width = 550 - scatter_chart_margin.left - scatter_chart_margin.right, scatter_chart_height = 500 - scatter_chart_margin.top - scatter_chart_margin.bottom;

// change these
var x1 = 0, y1 = 4.110922, x2 = 60, y2 = 32.13315;

var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);


var x_scatter = d3.scaleLinear().range([0, scatter_chart_width]);
var y_scatter = d3.scaleLinear().range([scatter_chart_height, 0])


var xAxis_scatter = d3.axisBottom(x_scatter);
var yAxis_scatter = d3.axisLeft(y_scatter);



var scatter_chart = d3.select(".scatter_chart")
	.attr("width", scatter_chart_width + scatter_chart_margin.left + scatter_chart_margin.right)
	.attr("height", scatter_chart_height + scatter_chart_margin.top + scatter_chart_margin.bottom)
	.append("g")
	.attr("class", "container")
	.attr("transform", "translate(" + scatter_chart_margin.left + "," + scatter_chart_margin.top + ")");

scatter_chart.select(".x.axis").selectAll("text").style("font-size", "100px")

var color = d3.scaleOrdinal(d3.schemeSet1);


d3.csv("/static/blog/post_2/combined.csv", function(data){


	x_scatter.domain([-25,60]);
	y_scatter.domain([0,50]);

	scatter_chart.selectAll(".dot")
		.data(data)
		.enter()
		.append("circle")
		.attr("class","dot")
		.attr("r", 8)
		.style("opacity", 0.75)
		.attr("cx", function(d){ return x_scatter(d.PctIncChg);})
		.attr("cy", function(d){ return y_scatter(d.Articles);})
		.style("fill", function(d) {return color(d.Boro);})
		.on("mouseover", function(d) {
			/. add tooltip ./
			div.transition().duration(600).style("opacity", 0.8);
			div.attr("id", "tooltip")
			div.attr("class","tooltip")
			div.html(
			"<p id = 'heading' style = 'font-size: 125%'> </p>" +
			"<p id = 'total_articles' style = 'font-size: 125%' > </p>" +
			"<hr>" +
			"<table style = 'font-size: 125%' id = 'theTable'> </table>")
				.style("left", (d3.event.pageX) + "px")
                .style("top", (d3.event.pageY ) + "px")
				.attr("id", "tooltip");
			/. add table ./
			add_table_scatter(d);
		})
		.on("mouseout", function(d) {
			div.transition().duration(300).style("opacity", 0);
		});


	scatter_chart.append("line")
		.attr("class", "line")
		.attr("x1", x_scatter(x1))
		.attr("y1", y_scatter(y1))
		.attr("x2", x_scatter(x2))
		.attr("y2", y_scatter(y2))
		.attr("style", "stroke:blue ;stroke-width:2")
		.style("opacity", 0.25);

	scatter_chart.append("g")
		.style("font", "15px sans-sarif")
		.attr("class", "xaxis")
		.attr("transform", "translate(0," + scatter_chart_height + ")")
		.call(xAxis_scatter);

	scatter_chart.append("g")
		.style("font", "15px sans-sarif")
		.attr("class", "yaxis")
		.call(yAxis_scatter);

	scatter_chart.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - ( scatter_chart_margin.left))
      .attr("x",0 - scatter_chart_height / 2)
      .attr("dy", "1em")
      .style("text-anchor", "middle")
	  .style("font-family", "Lora")
      .text("Articles");

	scatter_chart.append("text")             
      .attr("transform",
            "translate(" + (scatter_chart_width/2) + " ," + 
                           (scatter_chart_height + scatter_chart_margin.top + 20) + ")")
      .style("text-anchor", "middle")
	  .style("font-family", "Lora")
      .text("Percent Point change in Median Income");

	var legend = scatter_chart.selectAll(".legend")
		.data(color.domain())
		.enter()
		.append("g")
		.attr("class", "legend")
		.attr("transform", function(d,i){ return "translate(0," + i*20 + ")" ;} );

	legend.append("rect")
		.style("opacity", 0.75)
		.attr("x", 10)
		.attr("width", 18)
		.attr("height", 18)
		.style("fill", color);

	var names = ["a","b","c","d"];


	legend.append("text")
		.style("font-family", "Lora")
		.attr("x", 30)
		.attr("y", 15)
		.text(function(d) { return d});
});

</script>






 
 
<script type = "text/javascript">

var add_table = function(d2){
	
	if (d2.properties.has_data == 1){

		var theTable = document.getElementById("theTable");
		var theTitle = document.getElementById("heading");

		var heading = document.createTextNode(d2.properties.cd_name);

		theTitle.appendChild(heading);


		var row1 = theTable.insertRow(0)
		var cell1 = row1.insertCell(0)
		var cell2 = row1.insertCell(1)
		var temp1 = document.createTextNode("Articles about Gentrification:")
		cell1.append(temp1)
		var temp2 = document.createTextNode(d2.properties.articles)
		cell2.append(temp2)


		var row2 = theTable.insertRow(1)
		var cell1 = row2.insertCell(0)
		var cell2 = row2.insertCell(1)
		var temp1 = document.createTextNode("Is Gentrifying?")
		cell1.append(temp1)
		if (d2.properties.is_gent == 1){
			var temp2 = document.createTextNode("Yes")
		} else {
			var temp2 = document.createTextNode("No")
		}
		cell2.append(temp2)

		var row3 = theTable.insertRow(0)
		var cell1 = row3.insertCell(0)
		var cell2 = row3.insertCell(1)
		var temp1 = document.createTextNode("Percent Change in Income (2000 to 2016):")
		cell1.append(temp1)
		var temp2 = document.createTextNode(Math.round(d2.properties.pct_income_change) + "%")
		cell2.append(temp2)
	}
}



var getSelection = function(){
var e = document.getElementById("formOptions");
var s = e.options[e.selectedIndex].value;

if (s == 'counts') {
	max_value = 50;
	temp = document.getElementById("subtitle")
	text = temp.childNodes[0]
	temp.removeChild(text)
	text = document.createTextNode("Articles About Gentrification")
	temp.append(text)
	
} else if (s == 'gent'){
	max_value = 1;
	temp = document.getElementById("subtitle")
	text = temp.childNodes[0]
	temp.removeChild(text)
	text = document.createTextNode("Gentrifying Neighborhoods")
	temp.append(text)
}
return [s, max_value]
}

var updateMap = function(data){
S = getSelection()
var temp_scale = d3.scaleSequential(d3.interpolateBlues).domain([0, S[1]])
	
data.forEach( function(d){
	temp = document.getElementById(d.properties.boro_cd)
	if (S[0] == 'counts') {
		<!--	d3.select(d.properties.ntacode).transition().delay(50).attr("fill", temp_scale(d.properties.counts)) -->
		temp.setAttribute("style", "fill: " + temp_scale(d.properties.articles))
	} else if (S[0] == 'gent'){
		<!-- d3.select(d.properties.ntacode).transition().delay(50).attr("fill", temp_scale(d.properties.counts)) -->
		temp.setAttribute("style", "fill: " + temp_scale(d.properties.is_gent*0.5))
	}
})
}


// chart


width = 900;
height = 900;	

var canvas = d3.select(".canvas")
	.attr("width", width)
	.attr("height", height)
	
var map = d3.select(".canvas")
			.append("g")
			.attr("id", "map");
var max_value = 50;


var color_scale = d3.scaleSequential(d3.interpolateBlues).domain([0, max_value])

var div = d3.select("body").append("div")	
    .attr("class", "tooltip")				
    .style("opacity", 0);
	
d3.json("/static/blog/post_2/district_gent_map.geojson", function(data) {
	console.log(data)
	the_data = data;
	
	/. autoscaling ./ 
	
	var center = d3.geoCentroid(data);
	var scale = 100;
	var p_scale = 0.74
	var offset = [width/2, height/2];
	
	
	var projection = d3.geoMercator().scale(scale).center(center);
	
	var path = d3.geoPath().projection(projection);
	
	var bounds = path.bounds(data);
	var hscale = scale*width/ ( bounds[1][0] - bounds[0][0]);
	var vscale = scale*height/(bounds[1][1] - bounds[0][1]);
	
	
	
	var scale = (hscale < vscale) ? hscale:vscale;
	var offset = [width - (bounds[0][0] + bounds[1][0])/2   , height - (bounds[0][1] + bounds[1][1])/2 - 300];
	
	/. map ./
	
	var projection = d3.geoMercator().center(center).scale(scale*p_scale).translate(offset);
	var path = path.projection(projection);
	
	var group = map.selectAll("g")
		.data(data.features)
		.enter()
		.append("g");
		
	
	var areas = group.append("path")
		.attr("id", function(d) {
			return d.properties.boro_cd;
		})
		.attr("d",path)
		.attr("class","area")
		.attr("fill", function(d){
			return color_scale(d.properties.articles)
		}).on("mouseover", function(d) {
			/. add tooltip ./
			div.transition().duration(600).style("opacity", 0.8);
			div.attr("id", "tooltip")
			div.html(
			"<p id = 'heading' style = 'font-size: 125%'> </p>" + 
			"<p id = 'total_articles' style = 'font-size: 125%' > </p>" + 
			"<hr>" + 
			"<table style = 'font-size: 125%' id = 'theTable'> </table>")
				.style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY ) + "px")
				.attr("id", "tooltip");
			/. add table ./
			add_table(d);
		})
		.on("mouseout", function(d) {
			div.transition().duration(300).style("opacity", 0);
		})

});

</script>
{% endblock %}