{% extends "base.html" %}

{% block content %}
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {% for post in posts %}
            {% include '_post_preview.html' %}
          {% endfor %}

          <div class="clearfix">
            {% if prev_url %}
              <a class="btn btn-primary float-left" href="{{ prev_url }}">&rarr; Newer Posts</a>
            {% endif %}

            {% if next_url %}
              <a class="btn btn-primary float-right" href="{{ next_url }}">Older Posts &rarr;</a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

{% endblock %}