
    <!-- Page Header -->
    <!-- style="background-image: url('img/home-bg.jpg') -->

      <header class="masthead"  style="background-image: url( {{ header_pic_url }} )">
      <!-- <header class="masthead"> -->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ main_header }}</h1>
                {% if sub_header %}
                    <span class="subheading">{{ sub_header }}</span>
                    {{ header_pic_url }}
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>